
#contentIMGone{
    background-color: #9b8884;
    padding-left: 20px;
    padding-right: 20px;
}
.paragraph{
    text-align: center;
    margin: 0px;
}
.title {

    width: 100%;
    position: relative;
}
