

form,
label {
  display: block;
  padding: 5px;
  
}
p{
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin: 0px;
}
button{
    background-color: #fff;
    border-radius: 3rem;
  font-weight: bold;
}
form {
    font-weight: bold;
  width: min-content;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
label {
    font-size: 17px;
  color: #FFF;
  text-align: center;
}
input {
  display: inline-block;

}
